* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

a:hover {
  text-decoration: none;
}

/********************************** NAVBAR ***********************************/
#logo {
  font-size: 2em;
}

#Navbar{
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
  width:70%;
  margin:auto;
  font-weight:bolder;
  font-family: 'Marko One', serif;
  font-size: 2em;
}

#link_nav{
  position: fixed;
  z-index:99;
  display:flex;
  flex-direction: row;
  padding-left:3%;
  padding-top:10px;
  padding-bottom:10px;
  background: rgba(0, 0, 0, 0.2);
}

#link_nav a{
  text-decoration: none;
  color: whitesmoke;
}

#Navbar a{
  padding:5px;
  margin: 0 10px;
}

#link_nav a:hover{
  color: #ffe640;
}

hr {
  width: 100%;
  color: white;
}

.m-nav-toggle{
  width: 30px;
  height: 23px;
  margin-left: 60%;
  display: none;
  align-items: center;
  cursor: pointer;
}
span.m-toggle-icon, span.m-toggle-icon:before, span.m-toggle-icon:after{
  content: "";
  display:block;
  width: 100%;
  height: 3px;
  background: #fff;
  position: relative;

}
span.m-toggle-icon:before{top: 10px;}
span.m-toggle-icon:after{top: -13px;}

#Navbar.is-open{

  transform: translateY(0);
}

/*----------------------------------
----------formulaire----------------
----------------------------------*/

#form-contact {
  max-width: 1199px;
  height: auto;
  margin: 8em auto;
}

#btn_contact {
  max-width: 20%;
  background-color: #444561;
}

#btn_contact:hover {
  background-color: #ffe640;
  color: #444561;
}


/*----------------------------------
----------media query----------------
----------------------------------*/

@media only screen and (max-width: 1199px) {


@media only screen and (max-width: 991px) {


@media only screen and (max-width: 880px) {


@media only screen and (max-width: 767px) {

  #Navbar{
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
   top: 0; left: 0;
   width: 100%;
   height: 100vh;
   background-color: #474747;
}

.m-nav-toggle{
  margin-left: 60%;
  display: flex;
  z-index: 999;
}
}

@media only screen and (max-width: 576px) {

  .m-nav-toggle{
    margin-left: 45%;
  }

}
